<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.wangjq.app.mapper.EmployeeMapper">
    <select id="selectEmployee" resultType="demo.wangjq.app.domain.Employee">
        select * from employee where id = #{id}
        <if test="name != null">
            AND name like #{name }
        </if>
    </select>

    <insert id="insertEmployee" useGeneratedKeys="true" keyProperty="id">
      insert into employee (id,name,age) values (#{id},#{name},#{age})
   </insert>

    <update id="updateEmployee">update employee
        set name = #{name},
        age = #{age}
        where id = #{id}
    </update>
</mapper>