<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="localCacheScope" value="SESSION"/>
    </settings>
    <!--    <plugins>-->
    <!--        <plugin interceptor="demo.wangjq.app.plugins.ExamplePlugin">-->
    <!--            <property name="someProperty" value="100"/>-->
    <!--        </plugin>-->
    <!--    </plugins>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://47.105.64.68:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="yuanyun520"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/EmployeeMapper.xml"/>
    </mappers>

</configuration>